{# app/Resources/views/registration/register.html.twig #}

<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="register/styles/styles.css">
</head>
<body>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.isAdmin) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}

</body>

</html>