<div class="bookTable">
    <table class="treetable">
        <tbody>
            <tr>
            {% for book in bookList %}
                <th>
                    <img src="{{ book.cover }}" alt={{ book.name }}
                         width="100" height="150">
                    
                    
                    <div class="nameStr">
                        {{ book.name }}
                    </div>
                    <div class="rating{{ book.name }}"></div> 
                     <script type="text/javascript">
                         var rating = JSON.parse("{{ book.rating }}")
                        $('.rating{{ book.name }}' ).raty({
                            readOnly:  true,
                            start:     0,
                            score: Number(rating)
                          });
                    </script>
                   
                


                    
                </th>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>